html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #FBEDE0;
  display: block;
  font-family: Optima;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #D0AB99;
  z-index: 2;
}




#mymenu{
  padding-top: -2%; 
  padding-bottom: -5%;
  width: 100%;
  height: 2vh;
}

#mymenu ul {
   list-style: horizontal;
   text-align: center;
   padding: 0;
   margin: 0;
   border: 5% ;
   border color: black;
}
#mymenu li {
  font-family: American Typewriter;
  display: inline-block;
  width: 10%;
  border-bottom: none;
  line-height: 50%;
  font-size: 1em; 
  font-weight: normal;
}

#mymenu a {
   text-decoration: none;
   color: black;
   display: block;
}
#mymenu ul li a:visited{
color: black;}

#mymenu ul li a:hover, #mymenu ul li a#selected{ 
color: lightyellow;

}




.nav-set {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner {
  text-align: center;
  color:  white;
  font-size: 2em ;
  font-family: Baskerville;
  background-image: url("images/banner_back.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -2% -2% 0 -2%;
  vertical-align: middle;
  transition: width 2s, height 2s;
  float: left;
}
/*img transition*/
.banner:hover {
  height: 83vh;
  font-size: 2.2em ;
}

.ban_p{
  padding-top: 25vh;
  padding-left: 10%;
  padding-right: 37%;
}

.me{
  max-width: 25%;
  float: right;
  margin-top: -50vh;
  margin-right: 10%;
  transition: width 2s, height 2s;
}

.me:hover {
  max-width: 27%;
  margin-right: 8%;
}

li {
  list-style-type: circle;
  align-items: center;
  padding-right: 3%;
  align-items: center;
  height: 100%;
}
.checkbox {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  cursor: pointer;
}
.hamburger-icon {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  cursor: pointer;
}

/** MAIN **/
main {
  margin-top: 15vh;
  padding: 20px;
  z-index: -1;
}

/*** CSS Grids ***/
.work{
  margin-top: 60vh;
  background-size: 50%;
}

h1 {
  text-align: center;
  background-image: url("images/brush.png");
  background-size: 30%;
  height: 5%;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 3em;
  text-align: center;
  z-index: 1;
  width: 100%;
  margin: 0;
  margin-top: -7%;
  margin-bottom: 2%;
}

h3,h4,h5 {
  font-family: Optima;
}

h3{
  font-size: 1.7em;
  text-decoration: underline;
  color: #4A3C36;

}
h4{
  color: #A265D6;
  font-size: 1.5em;
  margin-bottom: -0.5%;
  margin-top: -0.5%;

}
h5{
 font-size: 1.3em;
 margin-top: -0.5%;
}

.first_edu, .second_edu{
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
}

.nis{
  flex: 30%;
}
.nis > img {
  max-width: 70%;
  padding-top: 10%;
  padding-left: 30%;
}
.school{
  flex: 70%;
  padding-left: 5%;
}
.school > p {
  font-size: 1.2em;
}
.first, .second {
  padding: 3%;
  margin: 3%;
  margin-top: 5%;
  font-size: 0.9em;
}
.first{ 
  padding-left: 5%;
  margin-bottom: -2%;
}

.first > h3{text-align: center;}

.skills
{  background-color: #FAE7E8;}

#left_topic {font-weight: bold; font-size: 1.3em; padding-top: 5%;}
.date{
  display: inline-block;
  color: #C16A6F;
  margin: 0;
}



#sociall{
  display:  flex;
  flex-direction: row;
  background-color: #D4BBDD;
  padding: 2% 10% 0 10%;
  text-align: center;
  margin-right: -5%;
  margin-left: -5%;
}

#sociall > div {
  text-align: center;
  padding: 1.5% 2% 0 2%;
  font-size: 30px;
  border-color: black;
}

.V1{flex: 20%}
.V2{flex: 20%}
.V3{flex: 20%}
.V4{flex: 20%}
.V5{flex: 20%}


.h3_c, .conn {text-align: center;}
#contact input[type="text"], 
#contact input[type="email"], #contact input[type="tel"],
 #contact textarea, #contact button[type="submit"]
 { font:400 17px/16px "Times" sans-serif; }
  

.contact >#contact {
  font-family: Times;
  max-width: 50%;
  background:#F2CDA2;
  padding:16px;
  margin: auto;
  margin-top: 37px;
  margin-bottom: 40px;
  text-align: center;
  border-color: white;
  border-width: 2pt;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  max-width: 100%;
  padding: 0;
  width: 95%;
}

#contact h3 {
  color: black;
  display: block;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}

#contact h4 {
  margin:auto;
  display:block;
  font-size:17px;
padding-bottom: 10px;}


#contact input[type="text"], #contact input[type="email"], 
#contact input[type="tel"],  #contact textarea {
  width:100%;
  border:2px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, 
#contact input[type="tel"]:hover, #contact input[type="url"]:hover, 
#contact textarea:hover {
  -webkit-transition:border-color 0.2s ease-in-out;
  -o-transition:border-color 0.2s ease-in-out ;
  -moz-transition:border-color 0.2s ease-in-out;
  transition:border-color 0.2s ease-in-out;
  border:1px solid #404040;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  text-align: center;
  width:50%;
  border:none;
  background:#D4BBDD;
  color:white;
  margin:0 0 1% 3% ;
  padding:2%;
  font-size:1em;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.2s ease-in-out;
  -moz-transition:background 0.2s ease-in-out;
  -o-transition:border-color 0.2s ease-in-out ;
  transition:background-color 0.2s ease-in-out;
}

#contact button[type="submit"]:active { 
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
#contact input:focus, #contact textarea:focus {
  outline:0;
  border:3px solid #262626;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

hr{
  margin-bottom: 1%;
}
.hobbies{
  text-align: center;
  font-size: 1.2em;
}
.hobbies >ul> li{list-style-type:none;}


/* FOOTER */
#footer {
  position: sticky;
  top: 100vh;
  display: grid;
  grid-template-columns: auto auto auto ;
  gap: 2%;
  color: white;
  background-color: #D0AB99;
  padding: 1% 5% 1% 5%;

}
#footer > div {
  text-align: center; height: 10%}
#footer > div > a> img{ max-width: 17%;
}
.f1>a>img {float: right; margin-right: -25%;}
.f3>a>img {float: left; margin-left: -25%;}

/*******************************/






